<div *ngFor="let assigned of ListAssigned" class="card">

    <div class="title" #refId></div> <!-- <div class="title" #refId>{{idOrder}}</div> -->
    <ul class="body">
        <ng-container>

            <li>
                <p>Descripción: {{assigned.ticket.description}}</p>
            </li>
            <li>
                <span>Prioridad: {{assigned.ticket.priority}}</span>
            </li>
            <li>
                <span>Estado: {{assigned.status.name}}</span>
            </li>
            <li>
                <span>Fecha de creación: {{assigned.date | date:'dd/MM/yyyy'}}</span>
            </li>

        </ng-container>
        <li>
            <img class="avatar-small" src="../../../../../assets/syspotec.png" alt="">
            <span>Ticket de {{assigned.user.firstName +' '+ assigned.user.lastName}} </span>
        </li>

        <li>
            <button class="btn btn-primary" (click)="updateTicket(assigned.ticket.id, assigned.status.id, assigned.id)">Editar</button>
            <button class="btn btn-primary" (click)="deleteTicket(assigned.ticket.id)">Eliminar</button>
        </li>

    </ul>
</div>